<!doctype html>
<html ng-app="UniCourse">
	<head>
		<title>课程</title>
		<meta charset='utf-8'/>
		<link rel="stylesheet" href="style.css"/>
		<script src="./js/jquery.min.js"></script>
		<script src="./js/angular.min.js"></script>
		<script src="./js/constants.js"></script>
	</head>
	<body ng-controller="topCtrl">
		<!--Header Start-->
		<div id="header" ng-controller="headerCtrl">
			<button ng-click="showSideMenu();"><img src="img/btn-menu.png"/></button>
			<span>课程信息</span>
			<button ng-click="isShowMenu=!isShowMenu"><img src="img/btn-plus.png"/></button>
			<div id="header_menu" ng-show="isShowMenu">
				<div class="menu_item"><a href="" style="display:block;width:100%;height:100%"><img src="img/bubble.png"/>发起讨论</a></div>
			</div>
		</div>
		<!--Header End-->
		<!--Main Start-->
		<div id="main" ng-controller="mainCtrl" ng-click="hideMenu();">
			<!--Sub Start-->
			<!--Announce-->
			<script type="text/ng-template" id="t_main_announce">
			<div id="main_announce" class="main_list" ng-controller="announceCtrl">
				<div class="list_item" ng-repeat="announce in announces">
					<div class="content" ng-bind="announce.ncontent">						
					</div>
					<div>
						<span class="time" ng-bind="announce.ntime"></span>	
						<span class="from" ng-bind="announce.nfrom"></span>
					</div>	
				</div>			
			</div>
			</script>
			<!--Info-->
			<script type="text/ng-template" id="t_main_info">
			<div id="main_info" ng-controller="infoCtrl">
				<table class="infotable">
					<thead>
						<tr><td>任课教师</td></tr>
					</thead>
					<tbody>
						<tr><td>姓名</td><td ng-bind="info.tname"></td></tr>
						<tr><td>邮箱</td><td ng-bind="info.temail"></td></tr>
						<tr><td>电话</td><td ng-bind="info.tphone"></td></tr>
					</tbody>
				</table>
				<table class="infotable">
					<thead>
						<tr><td>课程信息</td></tr>
					</thead>
					<tbody>
						<tr><td>考核方式</td><td ng-bind="info.checkway"></td></tr>
						<tr><td>课程介绍</td><td ng-bind="info.intro"></td></tr>
						<tr><td>备注</td><td ng-bind="info.cnotes"></td></tr>
					</tbody>

				</table>
			</div>
			</script>
			<!--Assign-->
			<script type="text/ng-template" id="t_main_assign">
			<div id="main_assign" ng-controller="assignCtrl">
				<div class="main_list">
					<div ng-repeat="assign in assigns" ng-assign class="list_item">
						<div class="deadline" ng-class="{true: 'warning', false: ''}[assign.warning]">
							<span class="dltext">截止日期</span><span ng-bind="assign.deadline" class="dltime"></span>
						</div>
						<div class="astitle">
							<span ng-bind="assign.htitle"></span>
						</div>
						<div class="asfile" ng-show="assign.furl">
							<a href="{{assign.furl}}" class="download"  ng-class="{true: 'active', false: ''}[assign.fileActive]" ng-click="downloadfile();">
								<span class="downloadicon"><img src="img/download.png"/></span>
								<span ng-bind="assign.fname"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			</script>
			<!--Forum-->
			<script type="text/ng-template" id="t_main_forum">
			<div id="main_forum" ng-controller="forumCtrl">
				<div class="main_list">
					<div class="list_item question" ng-repeat="question in questions">
						<div>
							<span class="uname">王吉磊</span>
							<span class="time">星期二 2014年4月1日 14:31</span>
						</div>
						<div class="title" ng-bind="qtitle">
							相关 Correla-on 和 卷积 Convolu-on 运算的本质区别是什么？
						</div>
						<div>
							从形式上看，相关运算的算子是卷积运算旋转180度后得到的，但从原理上看，这两种运算的本质区别是什么呢？求解答。
						</div>
						<div class="focusreply">
							<div class="leftbutton">
								<button style="background-color:rgb(83,215,105)"><img src="img/eye-white.png"/>关注</button>
								<button style="background-color:rgb(79,193,233)" ng-click="replyOn=true"><img src="img/bubble-white.png"/>回答</button>
							</div>
							<div class="rightinfo">
								<span><img src="img/eye-gray.png"/><span>3</span>人关注</span>
								<span><img src="img/bubble-gray.png"/><span>5</span>个回答</span>
							</div>
							<div style="clear:both"></div>
						</div>	
					</div>	
				</div>				
			</div>
			</script>
			<!--resources-->
			<script type="text/ng-template" id="t_main_res">
			<div id="main_res" ng-controller="resCtrl">
				<div class="main_list">
					<div class="list_item" ng-repeat="res in resources">
						<span class="filetype">							
							<img src="img/file-gray.png"/>
						</span>
						<span ng-bind="res.fname"></span>
						<a href="{{assign.furl}}" class="download" ng-click="downloadfile();">
							<span class="downloadicon"><img src="img/download.png"/></span>
						</a>
					</div>
				</div>				
			</div>
			</script>
			<!--course list-->
			<script type="text/ng-template" id="t_main_crslist">
			<div id="main_crslist" ng-controller="crslistCtrl">
				<div class="main_list">
					<div class="list_item" ng-repeat="course in crslist">
						<div class="left">
							<span ng-bind="course.cname" class="cname"></span>
							<span ng-bind="course.tname" class="tname"></span>
						</div>
						<div class="right">
							<div class="arrow" ng-show="course['is_in']" ng-click="enterCourse(course.cno)">&gt;</div>
							<div class="btn" ng-hide="course['is_in']" ng-click="applyEnter(course.cno)">申请加入</div>
						</div>
					</div>
				</div>
			</div>
			</script>
			<!--Sub End-->
		</div>
		<!--Main End-->
		<!--SideMenu Start-->
		<div id="side_menu" ng-controller="sideMenuCtrl" ng-show="isShow">
			<div class="side_list">
				<div class="list_title">编译原理</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='announce'"><img src="img/l_menu_announce.png" class="menu_icon"/>公告</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='assign'"><img src="img/l_menu_assign.png" class="menu_icon"/>作业</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='forum'"><img src="img/l_menu_forum.png" class="menu_icon"/>讨论</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='group'"><img src="img/l_menu_group.png" class="menu_icon"/>小组</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='res'"><img src="img/l_menu_res.png" class="menu_icon"/>资源</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='info'"><img src="img/l_menu_info.png" class="menu_icon"/>课程信息</div>
				<div class="list_item" ng-sidemenuitem ng-init="target='crslist'"><img src="img/l_menu_conf.png" class="menu_icon"/>切换课程</div>
			</div>
		</div>
		<!--SideMenu End-->
		<!--MainMenu Start-->
		<div id="main_menu">
			<div class="menu_item">
				<a href="">
					<img src="img/a_menu_home.png" />
					<span>首页</span>
				</a>
			</div>
			<div class="menu_item">
				<a href="">
					<img src="img/a_menu_cal.png" />
					<span>日程</span>
				</a>
			</div>
			<div class="menu_item cur">
				<a href="">
					<img src="img/a_menu_course.png" />
					<span>课程</span>
				</a>
			</div>
			<div class="menu_item">
				<a href="">
					<img src="img/a_menu_msg.png" />
					<span>消息</span>
				</a>
			</div>
			<div class="menu_item">
				<a href="">
					<img src="img/a_menu_user.png" />
					<span>我</span>
				</a>
			</div>
		</div>
		<!--MainMenu End-->
	</body>
	<script>


	var cno = window.sessionStorage.getItem('cno');

	var app=angular.module('UniCourse',[]);

	//处理angular的json格式
	app.config(function($locationProvider,$httpProvider) {
	    $locationProvider.html5Mode(false);
	    $httpProvider.defaults.useXDomain = true;
	    delete $httpProvider.defaults.headers.common['X-Requested-With'];
	    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
	});

	//左侧菜单
	app.controller('sideMenuCtrl',function($scope){
		$scope.isShow=false;
		$scope.$on('showSide',function(){
			$scope.isShow=true;
		});
		$scope.$on('hideMenu',function(){
			$scope.isShow=false;
		});
	});

	//Header,主要控制菜单
	app.controller('headerCtrl',function($scope,$rootScope){
		var init=function(){
			$scope.isShowMenu=false;
		}
		$scope.showSideMenu=function(){
			$rootScope.$broadcast('showSide');
		}
		$scope.$on('hideMenu',function(){
			$scope.isShowMenu=false;
		});
		init();
	});

	//主界面
	app.controller('mainCtrl',function($scope,$rootScope){
		$scope.hideMenu=function(){
			$rootScope.$broadcast('hideMenu');
		}
	});

	//公告页面
	app.controller('announceCtrl',function($scope,$http){
		var init=function(){
		/*
			$http.get('announce.json').success(function(data){
				$scope.announces=data;
			});
		*/
			$http.get(APP_PATH + 'Notice/getNoticelist?cno=' + cno).success(function(data){
				$scope.announces=data.data;
			});
		}
		init();	
	});
	
	//课程信息页面
	app.controller('infoCtrl',function($scope,$http){
		var init=function(){
		/*
			$http.get('info.json').success(function(data){
				$scope.info=data;
			});
			*/
			$http.get(APP_PATH + 'Home/getTeacherInfo?cno=' + cno).success(function(data){
				$scope.info=data.data[0];
			});

		}
		init();
	});

	//作业页面控制器
	app.controller("assignCtrl",function($scope,$http){
		var init=function(){
		/*
			$http.get("assign.json").success(function(data){
				$scope.assigns=data;
			});

			*/
			$http.get(APP_PATH + 'Home/getHomeworklist?cno=' + cno).success(function(data){
				$scope.assigns=data.data;
			});
		}
		init();
	});

	//讨论页面控制器
	app.controller('forumCtrl',function($scope,$http){
		var init=function(){
			$http.get("").success(function(data){
				$scope.questions=data;
				$scope.questions=[{},{}];
			});
		}
		init();
	});

	//课件页面控制器
	app.controller('resCtrl',function($scope,$http){
		var init=function(){
		/*
			$http.get("res.json").success(function(data){
				$scope.resources=data;
				for(var i in $scope.resources){
					var res=$scope.resources[i];
					res.ftype=res.fname.split('.').pop();
				}
			});
			*/
			$http.get(APP_PATH + 'Home/getCoursefilelist?cno=' + cno).success(function(data){
				$scope.resources=data.data;
				for(var i in $scope.resources){
					var res=$scope.resources[i];
					res.ftype=res.fname.split('.').pop();
				}
			});
		}
		init();
	});

	//课程列表页面控制器
	app.controller("crslistCtrl",function($scope,$http,$rootScope){
		var init=function(){
			$http.get("crslist.json").success(function(data){
				$scope.crslist=data;
			});
		}
		$scope.enterCourse=function(cno){
			$rootScope.cno=cno;
		}
		$scope.applyEnter=function(cno){
			;
		}
		init();
	});

	//控制不面板的切换，需要与sideMenu配合，将template编译生成dom结点后放到文档中
	app.controller('topCtrl',function($scope,$http,$compile){
		var hideSide=function(){
			$scope.$broadcast('hideMenu');
			//angular.element('#side_menu').scope().isShow=false;
			//angular.element("#side_menu").scope().$apply();
		}
		var switchTab=function(event,target){
			if (target == "crslist") {
				window.location.href="./course_select.html";
			}
			else {
				var tabHtml=angular.element("#t_main_"+target);
				if(tabHtml.length==1){//如果模板存在（目前还缺几个模板）
					if($scope.curTab) $scope.curTab.remove();
					var curTab=$compile(tabHtml.html())($scope);
					curTab.appendTo("#main");
					$scope.curTab=curTab;
					hideSide();
				}
			}		
		}
		$scope.$on('switchTab',switchTab);
		//默认先打开公告
		switchTab({},'announce');
	});

	//每个左侧菜单
	app.directive('ngSidemenuitem',function(){
		return{
			scope:true,
			link:function(scope,element,attr){
				element.on('click',function(){
					var back=element.css('background-color');
					element.css({'background-color':'rgba(155,155,155,0.8)'});
					//每次点击触发跳到对应面板的事件。注：target template的id 和dom的id 三者名字必须一致
					scope.$emit('switchTab',scope.target);
					element.css({'background-color':back});
				});
			}
		}
	});

	//每条作业
	app.directive('ngAssign',function(){
		return function(scope,element,attr){
			scope.downloadfile=function(){
				/*
				*如果下载文件的逻辑要单独写的话，写在这
				*把a的href去掉
				*取数据用scope.assign
				*/
				$http.post('unicourse.ruc.edu.cn/index/common/documentDownload.html',scope.assign).success(function(data){});
				return false;
			}
		}
	});
	</script>
</html>